{{#each this}}
  <li class='film-card' data-id='{{id}}'>
    <a class='film-card__link>
      <picture class='film-card__img-zaglushka'>
        {{#if poster_path}}
          <source
            srcset='https://image.tmdb.org/t/p/w500{{poster_path}}'
            media='(min-width: 1024px)'
          />
          <source
            srcset='https://image.tmdb.org/t/p/w440_and_h660_face{{poster_path}}'
            media='(min-width: 768px)'
          />
          <source
            srcset='https://image.tmdb.org/t/p/w220_and_h330_face{{poster_path}}'
            media='(min-width: 320px)'
          />
          <img

            data-source='{{id}}'
            class='film-image'
            src='https://image.tmdb.org/t/p/w440_and_h660_face{{poster_path}}'
            alt='film poster'
          />
        {{else}}
          <img
            class='film-image'
            style='height:auto'
            src='https://via.placeholder.com/400x600?text=YOU%27RE+AWESOME+:)'
            alt='film poster'
          />
        {{/if}}
      </picture>
      <div class='film-card__discribe-container'>
        <h3 class='film-card__film-name'>"{{title}}"</h3>
        <p class='film-card__film-ganre'>{{genre_ids}}
          |
          {{release_date}}
          <span class='film-card__film-rating'>{{vote_average}}</span></p>
      </div>
    </a>
  </li>
{{/each}}